<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Terms Of Service / Privacy Policy</title>
    <style>
      body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 1em;
      }
    </style>
  </head>
  <body>
    <h2>Terms Of Service / Privacy Policy</h2>
    <p>
      Tüm Kullanıcılar Sisteme Giriş Yaptıktan Sonra Aşağıdaki Tüm Koşulları Kabul Etmiş Sayılırlar. 
    </p>
    <!-- Hermosa Payments -->
    <p><strong>Bir Müşteri neleri bilmeli?(Sunucu Üyeleri)</strong></p>
    <p>
      Bir Ürünü Satın Aldıktan Sonra Her Hangi Bir İade Söz Konusu Dahi Değildir!<br><br>
      <ul>
        <li><a href="https://paylith.com/gizlilik-politikasis" target="_blank" rel="noopener noreferrer">PAYLITH GİZLİLİK POLİTİKASI</a></li>
        <li><a href="https://paylith.com/kullanim-kosullari" target="_blank" rel="noopener noreferrer">PAYLITH KULLANIM KOŞULLARI</a></li>
        <li><a href="https://paylith.com/kullanici-sozlesmesi" target="_blank" rel="noopener noreferrer">PAYLITH KULLANICI SOZLESMESİ</a></li>
        <li><a href="https://discord.com/guidelines" target="_blank" rel="noopener noreferrer">DISCORD KURALLARI</a></li>
        <li><a href="https://discord.com/privacy" target="_blank" rel="noopener noreferrer">DISCORD GİZLİLİK POLİTİKASI</a></li>
      </ul><br>
    </p>
    <!-- Hermosa Payments -->
    <p><strong>Bir Satıcı neleri bilmeli?(Sunucu Sahibi)</strong></p>
    <p>
      Sunucu Sahipleri Aşığıdaki Linklerdeki Kurallara Kesinlikle Uymalıdır Ve Sunucunun İçeriğinde Bunlar Kesinlikle Olmamalıdır.<br><br>
      <ul>
        <li>Satın Alımın Arından Yapılan İşlemler Ve Sorumluluk Sunucu Sahibine Aittir!</li>
        <li>Sunucularınız Nefret / Şiddet Ve Yasa Dışı İçerikler Üzerine Olamamalıdır!</li>
        <li>Sunucu Sahibi / Yetkilileri Asla Üyeleri Ürünü Satın Alması İçin Zorlayamaz!</li>
        <li>Sunucu Sahibi / Yetkilileri Üye Bir Ürün Satın Aldıktan Sonra Asla Yasaklayamaz! Eğer Yasaklar İse Sistemden Sunucu Sahibi Yasaklanır Ve Ödemesi Son Kez Yapılır.</li>
        <li><a href="https://paylith.com/gizlilik-politikasis" target="_blank" rel="noopener noreferrer">PAYLITH GİZLİLİK POLİTİKASI</a></li>
        <li><a href="https://paylith.com/kullanim-kosullari" target="_blank" rel="noopener noreferrer">PAYLITH KULLANIM KOŞULLARI</a></li>
        <li><a href="https://paylith.com/kullanici-sozlesmesi" target="_blank" rel="noopener noreferrer">PAYLITH KULLANICI SOZLESMESİ</a></li>
        <li><a href="https://discord.com/guidelines" target="_blank" rel="noopener noreferrer">DISCORD KURALLARI</a></li>
        <li><a href="https://discord.com/privacy" target="_blank" rel="noopener noreferrer">DISCORD GİZLİLİK POLİTİKASI</a></li>
      </ul><br>
    </p>
    <!-- Hermosa Payments -->
    <p><strong>Ödemeler Hakkında</strong></p>
    <p>
      Sunucu Sahipleri / Satıcılar Ödemeler Sadece Perşembe Günlleri Alabilirler!(Alt Kısımda Belirtilenlerin Hepsi Satıcılar İçindir.)
    </p>
    <ul>
        <li>Ödeme Alabilmek İçin Alt Limit 50 TL'dir.</li>
        <li>Site Yetkilileri (Team Hermosa Payments) Discord Sunucunuzda Kurallara Ve Kullanım Koşullarına Aykırı Bir Şey Olduğunu Tespit Eder İse 21 Gün Boyunca Sunucunuzun İçeriğinin Değiştirilmesi Beklenir. Sunucunun İçeriği Değiştirilmez İse Sunucu Sahibi Sistemden Tamamen Yasaklanır Ve Ödemesi Yapılır.</li>
        <li>Pazartesi Günü Olmadan Bir Kaç Gün Önce <a href="https://hermosa-pay.xyz/para-cek">Ödeme Talebi Açmanız Gereklidir.</a></li>
        <li>Destek Talebi Açtığınız Zaman Sunucunuzun İçeriği Yetkililer Tarafından Bir Kez Kontrol Edilir.</li>
        <li>Ödeme Alabilmek İçin <a href="https://hermosa-pay.xyz/para-cek">Site Yetkililerine Para Çek Sayfası Üzerinden Talep Oluşturmalısınız</a> İninal Kodunuzu Ve Diğer Bilgileri Doğru Yazmalısınız.</li>
        <li>Ödeme Talebi Oluşturduktan Sonra Kesinlikle Botun Destek Sunucusu Üzerinden Soru Sormak Yasaktır!</li>
      </ul><br>
    <!-- Hermosa Payments -->
    <p><strong>Hermosa Payments Ne Gibi Verileri Log Olarak Kayıt Eder?</strong></p>
    <p>
      Aşağıda Söz Edilen Veriler FastLogs+(FastUptime'a Ait Olan Fast Logs+) Tarafından Log Sunucularımıza Kayıt Edilir.<br> Veri Tabanı Güvenliği Ve Kişisel Verileriniz Hermosa Payments Güvencesiyle İle Koruma Altındadır.
      <br><br>
      <ul>
        <li>Discord Mail Adresinizi, Discord Kullanıcı ID'nizi, Discord Kullanıcı Adınızı!</li>
        <li>Plan Bilgilerinizi!</li>
        <li>Giriş Çıkış Yaptığınız Ip Adresinizi!</li>
        <li>Daha Fazla Detayları Yetkili Ekibe Sorabilirsiniz!</li>
      </ul><br>
    </p>
    <!-- Hermosa Payments -->
    <p><strong>İletişim</strong></p>
    <p>
     Aklınıza Takılan Herhangi Bir Soru Var İse Bizimle İletişime Geçebilirsiniz.
    </p>
    <p>
      <a
        href="/discord"
        target="_blank"
        >Discord Support</a
      >
    </p>
  </body>
</html>
